<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Nexus</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <style>
        body { background-color: #2B2D31; color: white; }
    </style>
</head>
<body class="min-h-screen flex flex-col items-center">
    {% block content %}{% endblock %}
    <script>
        lucide.createIcons();
    </script>
</body>
</html>
